<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Getaways</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/tradewise-01.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
        integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.css"/>
        
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
    <script src="/js/main.js" type="text/javascript"> </script>

</script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <a class="navbar-brand" href="/"><img class="logo" src="/images/Logo-01-01.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Browse shop</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto justify-content-end">
                {{#if logged_in}}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Manage shop</a>
                </li>
                <div class="nav-profile">
                <a href="/user/{{userValues.id}}" class="profile-hover"><img class="pp" src="{{userValues.picture}}">
                <p class="ml-1 mr-3 headline">{{userValues.username}}</p></a>
                </div>
                <li><a href="/signout" class="btn" id="signout">Logout</a></li>
                {{else}}
                <li><a href="/contact" class="btn" id="contact">Enquire Now</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>


    <main id="page-container" class="container container-fluid">
           <div id="content-wrap">
        {{{ body }}}
        </div>
    </main>

    <footer class="footer">
            &copy Garden Getaways | All Rights Reserved 2021
    </footer>

</body>
{{#if logged_in}}
<script src="/js/signout.js"></script>
       <script src="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.js"></script>

        <script>
            var upload = new FileUploadWithPreview("myUniqueUploadId", {
                showDeleteButtonOnImages: true,
                text: {
                    chooseFile: "No file selected",
                    browse: "Upload Image",
                    selectedCount: "No file selected",
                },
            });

            window.document.getElementById('img-id').setAttribute('data-img-id', upload.backgroundImage);

            module.exports = imgInfo;
        </script>
{{else}}
<script src="/js/signinbtn.js"></script>
{{/if}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>


</html>