<section>
    <div class="mx-auto col-sm-11 col-md-8 spacer">
        <img class="pp" src="{{userValues.picture}}">
        <h2 class="ml-4 headline">Welcome back, {{userValues.username}}</h2>
    </div>

    <div class="row mx-auto">
        <div class="border col-sm-11 col-md-5 m-3 p-3">
            <h3 class="mb-5">Categories</h3>
            <a class="btn white" href="categories/new">Add a new category +</a>
            {{#each categories as |category| }}
            <div class="col-12 mb-5 job-post" style="background-image: url({{category.image}})">
                <h2 class="padding job-header"><a href="/categories/{{category.category_url}}">{{category.title}}</a></h2>
                <p class="padding job-description">{{category.description}}</p>
            </div>
            {{/each}}
        </div>
        <div class="border col-sm-11 col-md-6 m-3 p-3">

            <h3 class="mb-3">All items</h3>
            <a class="btn white" href="items/new">Add a new item +</a>

            <div class="mb-4">
                <label>Filter by:</label>
                <select id="filter-jobs" class="custom-select" onchange="filterJobs(this.value);">
                    {{#each categories as |category| }}
    <option value="{{category.category_url}}">{{category.title}}</option>
    {{/each}}
                </select>
            </div>
               {{#each items as |item| }}
            <div class="col-12 mb-5 job-post" style="background-image: url({{item.image}})">
                <h2 class="padding job-header"><a href="/categories/{{item.item_url}}">{{item.title}}</a></h2>
                <p class="padding job-description">{{item.description}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="/js/filter.js"></script>