<section>
    <div class="row mx-auto">
        <div class="border col-sm-11 col-md-5 m-3 p-3">
            <h3 class="mb-5 float-l">Categories</h3>
            <a class="btn white float-r" href="categories/new">Add a new category +</a>
            {{#each categories as |category| }}
            <div class="col-12 mb-5 clbt row admin-list">
                <img class="sm-display-img col-2" src={{category.image}} />
                <div class="col-10">
                    <h3 class="padding job-header"><a
                            href="/categories/{{category.category_url}}">{{category.title}}</a></h3>
                    <a class="edit-btn" href="/categories/edit/{{category_url}}">Edit</a><a class="delete-btn"
                        data-toggle="modal" data-target="#deleteModal" data-type="Category"
                        data-title={{category.title}} data-img={{category.image}}>Delete</a>
                </div>

            </div>
            {{/each}}
        </div>
        <div class="border col-sm-11 col-md-6 m-3 p-3">

            <h3 class="mb-3 float-l">All items</h3>
            <a class="btn white float-r" href="items/new">Add a new item +</a>

            <div class="mb-4 clbt">
                <label>Filter by:</label>
                <select id="filter-jobs" class="custom-select" onchange="filterJobs(this.value);">
                    {{#each categories as |category| }}
                    <option value="{{category.category_url}}">{{category.title}}</option>
                    {{/each}}
                </select>
            </div>
            {{#each items as |item| }}
            <div class="col-12 mb-5 clbt row admin-list">
                <img class="sm-display-img col-2" src={{item.image}} />
                <div class="col-10">
                    <h3 class="padding job-header"><a href="/categories/{{item.item_url}}">{{item.title}}</a></h3>
                    <a class="edit-btn" href="/categories/edit/{{item_url}}">Edit</a><a class="delete-btn"
                        data-toggle="modal" data-target="#deleteModal" data-type="Item"
                        data-title={{item.title}} data-img={{item.image}}>Delete</a>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this <span
                        id="data-type"></span>?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="sm-display-img" id="modal-img" />
                <h3 id="this-title"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning">Yes, delete it</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/filter.js"></script>