<section>
    <div class="mx-auto col-sm-11 col-md-8 spacer">
        <img class="pp" src="{{userValues.picture}}">
        <h2 class="ml-4 headline">Welcome back, {{userValues.username}}</h2>
    </div>

    <div class="row mx-auto">
        <div class="border col-sm-11 col-md-5 m-3 p-3">
            <h3 class="mb-5">Categories</h3>
            <a class="btn white" href="categories/new">Add a new category +</a>
            {{#each categories as |category| }}
            <div class="col-12 mb-5 job-post">
                <img class="sm-pp" src={{category.image}}></img>
                <h2 class="padding job-header"><a href="/categories/{{category.title}}">{{category.title}}</a></h2>
                <p class="padding job-description">{{category.description}}</p>
            </div>
            {{/each}}
        </div>
        <div class="border col-sm-11 col-md-6 m-3 p-3">

            <h3 class="mb-3">All items</h3>
            <div class="mb-4">
                <label>Filter by:</label>
                <select id="filter-jobs" class="custom-select" onchange="filterJobs(this.value);">
                    <option value="">Choose...</option>
                    <option value="1">Customer</option>
                    <option value="2">Electrician</option>
                    <option value="3">Carpenter</option>
                    <option value="4">Glazier</option>
                    <option value="5">Gardener</option>
                    <option value="6">Plumber</option>
                    <option value="7">Builder</option>
                    <option value="8">Plasterer</option>
                    <option value="9">Decorator</option>
                </select>
            </div>
            {{#each otherJobs as |ojob| }}
            <div class="col-12 mb-5 job-post">
                <img class="sm-pp" src="{{ojob.user.picture}}">
                <h2 class="padding job-header"><a href="/jobs/{{ojob.id}}">{{ojob.title}}</a></h2>
                <p class="padding job-description">{{short ojob.description}}</p>
                <p class="padding job-info">{{format_date ojob.date_created}} | {{ojob.user.username}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="/js/filter.js"></script>